.filtros{
  display: flex;
  flex-direction: column;
}

.contenedor-filtros{
  width: 420px;
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: scroll;
}

@media (max-width: 768px) {
  .contenedor-filtros{
    width: 240px;
  }
}