@import "../../styles/variables";
@import "../../styles/tipografias";
@import "../../styles/componentes";

@media (max-width: 992px){
  .contenedor-decorado{
    margin: 20px;
  }
}

.distribucion{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-deco{
  height: 350px;
  margin: 80px;
}

@media(max-width: 425px){
  .distribucion{
    flex-direction: column;
  }
}

@media(max-width: 768px){
  .img-deco{
    height: 200px;
    margin: 20px;
  }
}

a{
  color: white;
}