@import "../../styles/variables";
@import "../../styles/tipografias";

.footer{
  background-color: $azul-oscuro;
  padding: 20px;
  margin-top: 20px;
  margin-top: 0px;


  .parrafos-footer{
    color: white;
    text-align: center;
    font-size: 1rem;
    margin: 0;

    a{
      color: white;
      text-decoration: underline;
    }
  }
}